.panel-content {
    padding: 30px;
}

.form-control {
    margin: 10px 0;
}

.pagination {
    padding: 0 auto;
}

.search-result {
    border: 1px solid #ccc;
    margin: 10px;
}
.img-responsive {
    border:1px solid #ccc;
    margin: 0 auto;
}