<div class="search-flats" ng-controller="FlatsController as ctrl">

    <div class="panel-content">

        <div class="row">
            <div class="col-xs-5">
            </div>
            <div class="col-xs-5">
                <h3  class="center-block">Property cross</h3>
            </div>
        </div>

        <div class="row">
            <h4>Use the form below to search for houses to buy. You can search by place-name, postcode,
            or click 'My location', to search in your current location.</h4>
            <input type="text" class="form-control" id="usr" placeholder="newcastle" ng-model="query">
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-success">Go</button>
                <button type="button" class="btn btn-primary">My location</button>
            </div>
        </div>

        <div class="row">
            <h4>Status text</h4>
        </div>

        <div class="cross">
            <div class="row" ng-repeat="flat in ctrl.flats">
                <div class="col-md-12">
                    <div class="list-group">
                        <p>{{flat.title }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



