<div class="search-flats" ng-controller="FlatsController as ctrl">

    <div class="panel-content">

        <div class="row">
            <div class="col-xs-5">
            </div>
            <div class="col-xs-5">
                <h3  class="center-block">Property cross</h3>
            </div>
        </div>

        <div class="row">

        </div>

        <div class="row">
            <h4>Use the form below to search for houses to buy. You can search by place-name, postcode,
                or click 'My location', to search in your current location.</h4>
            <div class="col-xs-10">
                <input type="text" class="form-control" id="usr" placeholder="newcastle" ng-model="ctrl.text">
            </div>

            <div class="col-xs-2">
                <button type="button" class="btn btn-success" ng-click="ctrl.clickGoButton()" >Go</button>
                <!--<button type="button" class="btn btn-primary" ng-click="ctrl.clickMyLocationButton()">My location</button>-->
            </div>
        </div>

        <div class="row">
            <h3>Recent searches:</h3>
            <div class="cross">
                <div class="row" ng-repeat="save in ctrl.saves">
                    <div class="col-md-12">
                        <div class="list-group">
                            <a ui-sref="cross.results({id:save.text})"> Search#{{$index+1}}: {{save.text}} ({{save.count}})</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>